<template>
<v-app id="Login">
  <v-row>
    <v-col cols="7" class="background">

    </v-col>
    <v-col cols="5" class="Login">
      <v-row>
        <v-col>
          hi
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</v-app>
</template>
<style media="screen">
.background {
  background: url("../assets/img/login-background.png");
  background-repeat:  no-repeat;
  background-size: cover;
}
.Login{
  background-color: #005944;
  color: rgb(255, 255, 255)
}
</style>
<script lang="ts">
import Vue from "vue";
// import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

export default Vue.extend({
  name: "Login",
  components: {},
});
</script>
